*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #343a40;
    font-size: 24px;
    /* text-align: center; */
    font-weight: bold;
    height: 100vh;
}
nav{
    background-color: #343a40;
    padding: 23px;
    color: white;
    height: 100vh; 
}
.app-alyout{
    display: flex;
}
.app{
    width: 100%;
    height: 100vh;
}
.app .links{
    background-color: #7048e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    gap: 12px;
    width: 100%;
}
.app .links a{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    background-color: #5f3dc4;
    margin-left: 6px;
    font-size: 16px;
    font-weight: bold;
}
.app .links button{
    color: white;
    padding: 8px 12px;
    background-color: #d6336c;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}
.flex-2{
    display: flex;
    justify-content: space-around;
    height: 88.3vh;
}
section{
    padding: 40px;
    background-color: #e9ecef;
    width: 27%;
    /* height: 88vh; */
    /* max-height: 900px;
    overflow: scroll; */
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position:static;
}
.email{
    background-color: #adb5bd;
    padding: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 0; */
}
.main{
    padding-top: 24px;
    text-align: center;
    width: 55%;
}
aside{
    padding-top: 24px;
    text-align: center;
    width: 18%;
    background-color: #e9ecef;
}
@media (max-width:700px){
    nav{
        display: none;
    }
    section{
        width: 40%;
    }
    aside{
        width: 30%;
    }             

}
@media (max-width:570px){
    .flex-2{
        flex-direction: column;
    }
    .links{
        flex-direction: column;
    }
    .links button{
        margin-top: 20px;
    }
    section{
        width: 100%;
        flex-direction: row;
        overflow-x: scroll;
    }
    .main{
        width: 100%;
    } 
    aside{
        width: 100%;
    }            

}